<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">


  <system.web>

    <pages buffer="true" validateRequest="true" />

    <!-- C1 Web Chart를 사용하기 위해 추가-->
    <httpHandlers>
      <add verb="*" path="c1chartimage.aspx" type="C1.Web.C1WebChart.ImageHttpHandler,C1.Web.C1WebChart.2" />
    </httpHandlers>
    <!-- C1 Web Chart를 사용하기 위해 추가-->
  </system.web>
</configuration>
